blis==0.2.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cymem==2.0.2
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
murmurhash==1.0.2
numpy==1.17.2
plac==0.9.6
preshed==2.0.1
requests==2.22.0
spacy==2.1.8
srsly==0.1.0
thinc==7.0.8
tqdm==4.36.1
urllib3==1.25.6
wasabi==0.2.2
Werkzeug==0.16.0
tika==1.19
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz
